.slide {
    background-color: #e6dedc;
    .image {
        background-size: contain !important;
        background-position: center center !important;
    }
}

#header, #thumbnails, #footer{
    background-color: #e6dedc;
}
#header {
    p {
        color: #e10507;
    }
    .icons a:hover {
        color: #e10507;
    }
}

#viewer {
    .slide .caption{
        background-image: none; 
    }
    .inner:before {
        background-image: none; 
    }
}


#thumbnails article {
    background: #e6dedc;
    img {
        border-radius: 5px;
    }
    border-radius: 5px;
}

#viewer .inner .nav-next, #viewer .inner .nav-previous {    
    background-image: url(../../images/arrow-right.png) !important;
    background-size: 50px;
    opacity: .3;
    &:hover {
        opacity: 1;
    }
}

#viewer .inner .toggle {
    background-size: 70px 70px;
}
.nav-next {
    width: 45px;
    right: 0px;
    transition: all 1s;
    &:hover {
        right: -20px !important;
    }
}
.nav-previous {
    width: 45px;
    left: 0px;
    transition: all 1s;
    &:hover {
        left: -20px !important;
    }
}

body.fullscreen #viewer .inner .toggle {
    background-image: url('images/open.png');
    background-size: 30px; 
}

#viewer .inner .toggle {
    background-image: url('images/close.png'); 
    background-size: 30px;    
}

